<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Pro Source BPO | Web App  </title>
    <!-- include all your third party stylesheets here -->
    <link rel="stylesheet" href="/css/app.css" media="screen" title="no title">
  </head>
  <body>
